
.linkclass{
    color:gray;
    margin-left: 250px;
    font-size: 12px;
}

.form-check{

    margin-left:120px;
    font-size: 13px;
    
}


.btn{
   color:white;
    background-color:rgb(114, 15, 106);
}
#one{

    margin-left: 70px;
    color: rgb(114, 15, 106);
}



